.background-image{
    background-image: url('https://i.postimg.cc/QxmNMvrw/pexels-pedro-figueras-202443-681467.jpg');
    background-size: cover;
    height: 50vh;
}
nav{
    margin-left:10%;
    margin-right:10%;
    background-color: transparent;
    position: absolute; 
}
.navbar-brand{
    font-size: 26px;
    color:gold;
    font-family: 'Oleo Script', cursive;
}
.welcome-sign h1{
   text-align: center;
   font-family:"Montserrat", sans-serif;
   font-size: 75px;
   white-space: nowrap;
   font-weight: bold;
   text-transform: uppercase;
}
.welcome-sign h3{
    text-align: center;
    font-family: "Source Serif 4", serif;
    font-style: italic;
    font-size: 40px;
}
.btn{
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 50px;
    border-radius: 2px;
}
.welcome-sign{
    position: absolute;
    top: 25%;            
    left: 50%;
    transform: translate(-50%, -50%);       
    bottom: auto;       
    padding: 0; 
    color: white;
}
.navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
.services h1, .services h2{
    text-align: center;
}
.services h1{
    padding-top: 90px;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
}
h2{
    font-family: "Source Serif 4", serif;
    font-size: 16px;
    color:gray;
    font-style: italic;
}
.box-subtitle{
    font-family: "Source Serif 4", serif;
    font-style: italic;
    font-size: 16px;
    color:gray;
    margin: 0 auto;
    padding: 0 auto;
}
.container{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
.service-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}
.box{
    flex: 0 0 33.333%; 
    position: relative;
    padding: 50px 30px;
    font-size: 24px;
    margin: 0 0 12px 0;
}
i{
    font-size: 68px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: gold;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    position: relative;           
    left: 40%;
}
.box-title{
    padding-top: 10%;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
}
.box p{
    color:gray;
    font-size: 14px;
    font-family: "Roboto Slab", serif;
    text-align: center;
}
.card img {
    height: 300px;
    width: 100%;        
    object-fit: cover;
}